


<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">
		<!-- <img class="retina" src="../_common/images/<%= size %>/<%= name %>/f.png" /> -->
		<% include ./_rtb_dashed %>

		<img class="zero left retina" src="../_common/images/<%= size %>/<%= name %>/zero_left.png" />
		<img class="zero right retina" src="../_common/images/<%= size %>/<%= name %>/zero_right.png" />
		<img class="proline retina" src="../_common/images/<%= size %>/<%= name %>/proline_big.png" />
		
		<img class="t1a t1 retina" src="../_common/images/<%= size %>/<%= name %>/frame2/t1a_<%= var1 %>.png" />
		<img class="t1b t1 retina" src="../_common/images/<%= size %>/<%= name %>/frame2/t1b_<%= var1 %>.png" />
		
		
		
		<img class="footer retina" src="../_common/images/<%= size %>/<%= name %>/footer.png" />
		<img class="proline_small retina" src="../_common/images/<%= size %>/<%= name %>/proline_small.png" />

		<img class="text_end retina" src="../_common/images/<%= size %>/<%= name %>/frame4/t2_<%= var1 %>.png" />
		<img class="bring retina" src="../_common/images/<%= size %>/<%= name %>/bring.png" />
		<!-- <img class="bring_ retina" src="../_common/images/<%= size %>/<%= name %>/bring__.png" /> -->
		<img class="cta retina" src="../_common/images/<%= size %>/<%= name %>/cta.png" />
		
		


	</div>

	
	
	<% include ./_end %>
	
	
</div>